body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-weight: bold;
  font-size: 3rem;
  color: whitesmoke;
}
hr {
  border:solid 1px orangered;
  max-width: 65px;
}
.buffer {
  height: 10rem;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.mybtn {
  padding: 1rem 2rem;
}
.btn-danger {
  background-color: orangered;
  border-color: orangered;
}
.btn-danger:hover {
  background-color: orange;
  border-color: orange;
  border-width: 4px;
}